.ipgeo-container .ipgeo-form {
    display: flex;
}

.ipgeo-container .ipgeo-form input[type=text] {
    margin-right: 10px;
    margin-left: 0px;
}

.rtl .ipgeo-container .ipgeo-form input[type=text] {
    margin-left: 10px;
    margin-right: 0px;
}

.ipgeo-container .home-ip-details {
    direction: ltr;
    margin: 15px 0;
}

.ipgeo-container .home-ip-details .json-widget-entry .String i {
    background-image: url(../../assets/images/json-widget-string.svg);
}

.ipgeo-container .home-ip-details .json-widget-entry .String span.value > img {
    width: 25px;
    position: relative;
    top: 4px;
}

.ipgeo-container .home-ip-details .json-widget-entry i {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-bottom: 2px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.ipgeo-container .home-ip-details .json-widget-entry {
    font-size: 14px;
    line-height: 21px;
    color: #2d3a43;
    font-family: "Source Code Pro", monospace;
    word-break: break-all;
}

.ipgeo-container .home-ip-details .json-widget-entry .String .value {
    color: #149570;
}

/* Bootstrap Alerts */
.ipgeo-container .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 1rem 0;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}

.ipgeo-container .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.ipgeo-container .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}